header {
  background-color: red;
  border-radius: 5px;
  margin: 10px;
  padding: 40px;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.card {
  justify-content: center;
  top: 50px;
  float: left;
  margin: 10px auto;
  height: 300px;
  min-width: 200px;
}

h4 {
  background-color: #ccc;
  padding: 10px 30px;
  border-radius: 5px;
}
